<div class="container">
<!--
  <div class="row">
    <div class="col-12">
      {{ selectedBook | json }}
    </div>
  </div>
 -->
  <div class="row">
    <div class="col-6">

      <!-- listado de libros -->
      <ul class="list-unstyled" *ngIf="bookList">
        <li class="media mb-2 p-1" style="cursor: pointer;"
          *ngFor="let book of bookList"
          (click)="setSelectedBook(book)">
          <img [src]="configServe.pathImg + book.coverImage" [style.width.px]="64" class="me-3" alt="">
          <div class="media-body">
            <h6 class="mt-0 mb-1">{{ book.title }}</h6>
            <p>{{ book.authors }}</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-6">

      <!-- detalles del libro -->
      <app-book-details [book]="selectedBook" (delete)="receiveBook($event)"></app-book-details>
    </div>
  </div>
</div>