
<div *ngIf="book">
    <div class="row">
        <div class="col-sm-4">
            <img [src]="pathImg + book.coverImage" alt="" class="img-thumbnail float-left">
        </div>
        <div class="col-sm-8">
            <h3 class="title">{{ book.title }}</h3>
            <p>{{ book.authors }}</p>
            <p>{{ book.published }}</p>
            <p>{{ book.description }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10">
            <button class="btn btn-danger float-xs-right mt-1" (click)="sendBookToDelete()">
                Delete
            </button>
        </div>
    </div>
</div>